html{
    font-size: 16px;
}
body{
    font-family: 'Open Sans';
    padding-top: 80px;
    background-color: $body-bg;
    @include font-size(0.875);
    color: #555;
}
a{
    color: $color-main-link;
    &:hover, &:focus{
        color: darken($color-main-link, 20%);
        text-decoration: none;
    }
}

@import "header";
@import "main";
@import "sidebar";

@import "login";

@import "pages/profile";