// main color
$color-main: $cm-red-500;
$color-main-link: $cm-red-700;

// HEADER
$header-bg: $cm-bluegrey-50;
$header-border: $cm-grey-300;
$usernav-color: $cm-bluegrey-700;

//SIDEBAR
$sidebar-bg: $cm-bluegrey-700;
$sidebar-color: $cm-bluegrey-50;

// MAIN
$body-bg : $cm-bluegrey-50;
$main-title-color: $cm-bluegrey-700;
$panel-section-line: $cm-grey-300;
$panel-section-title-color: $cm-bluegrey-600;

// BADGE
$badge-td: $cm-yellow-700;
$badge-cgt: $cm-blue-500;
$badge-ccgt: $cm-green-500;
